name: Self-hosted lscpu
on: [workflow_dispatch]
jobs:
  Build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-latest, self-hosted]
        
    steps:
     - run: lscpu
     - run: echo 'This job is running on ${{ matrix.runner }} runner.'
     - run: whoami
